.card {
  border-style: solid;
  border-width: 1px;
  list-style-type: none;
}

.card__bookmark-position {
  display: flex;
  justify-content: space-between;
}

/* space after last card */
.card-grid > *:last-child {
  position: relative;
}
.card-grid > *:last-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}

/* position as in scribble 
  .card__bookmark-position {
  position: absolute;
  top: -5px;
  right: 10px;
  overflow: visible;
}
 */
