/* basic elements: html, h1, a, p, button, ... */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 48px auto /* 48px; */ /* header & footer fixed */
  /* max-width: 600px; */
  /*   width: 100vw; */
  position: fixed;
  /* left: 0;
  top: 0; */
  width: 100vw;
  height: 100vh;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 112.5%;
}

/* ================================================= */

h1 {
  font-weight: 300;
}

/* ================================================= */

.card-grid {
  display: grid;
  align-content: start;
  gap: 10px;
  padding: 20px 4px;
}

.scrolling {
  overflow-y: scroll;
}

/* code-pen: shadow for header
  .header:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 4px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(70, 0, 30, 0.5), transparent);
} */

.button {
  border: none;
  border-radius: 10px;
  font-size: 112.5%;
  font-family: 'Montserrat', sans-serif;
}
