/* color variables */

.header {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0rem 0rem 2rem lightgray;
}

.button {
  background-color: #4285f4;
  color: white;
}

.nav {
  background: rgba(255, 254, 254, 0.11);
  box-shadow: 0rem 0rem 2rem lightgray;
}

.card {
  background: rgb(255, 255, 255);
  border: rgb(221, 221, 221);
}

.tag-list > li {
  border: rgb(221, 221, 221);
}
