/* imports different style-files into html-file */

@import './colors.css';
@import './basics.css';
@import './utility.css';
@import './grid-structure.css';
@import './components/card.css';
@import './components/header.css';
@import './components/card.css';
@import './components/form.css';
@import './components/navigation.css';
@import './components/tag-list.css';
