/* utility classes for padding, margin, ... */

.m-0 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  padding: 20px;
}

.tag-list > li {
  border-radius: 20px;
  padding: 0 10px;
  margin: 5px;
}
