/* utility classes for padding, margin, ... */

/* ============= margins / paddings ============= */

.utility__m-0 {
  /* "Question" on question-card */
  margin: 0;
}

.utility__padding-sides-10 {
  padding: 0 10px;
}

.utility__padding-20 {
  padding: 20px;
}

.utility__padding-25 {
  padding: 25px;
}

.utility__padding-top-41 {
  padding-top: 41px;
}

/* padding: 20px 20px; */

.utility_center {
  /* h1, icons in nav, button create/add question */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-list > li {
  padding: 0 10px;
  margin: 5px;
  list-style-type: none;
  width: auto;
}

/* ============= borders ============= */

:root {
  --radius-small: 5px;
}

.utility__border {
  /* border for create input fields */
  border-style: solid;
  border-width: 1px;
  border-color: var(--lightgray);
}

.utility__border-radius-5 {
  border-radius: 5px;
}

.utility__border-radius-20 {
  border-radius: 20px;
}

.utility__border-top {
  border-top: 1px solid var(--lightgray);
}
