/* utility classes for padding, margin, ... */

/* ================= wrappers ===================== */

.utility__flex-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.utility__flex-start > li {
  padding: 0 var(--padding-tag);
  margin: 5px;
  list-style-type: none;
  width: auto;
}

/* ============= margins / paddings ============= */

:root {
  --padding-tag: 10px;
}

.utility__m-0 {
  /* "Question" on question-card */
  margin: 0;
}

.utility__padding-sides-10 {
  padding: 0 10px;
}

.utility__padding-20 {
  padding: 20px;
}

.utility__padding-25 {
  padding: 25px;
}

.utility__padding-top-41 {
  padding-top: 41px;
}

.utility_center {
  /* h1, icons in nav, button create/add question */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============= borders ============= */

:root {
  --radius-small: 5px;
  --radius-large: 20px;
}

.utility__border {
  /* border for question cards, tag list, create input fields */
  border-style: solid;
  border-width: 1px;
  border-color: var(--lightgray);
}

.utility__border-radius-5 {
  border-radius: 5px;
}

.utility__border-radius-20 {
  border-radius: 20px;
}

.utility__border-top {
  border-top: 1px solid var(--lightgray);
}

.utility__border-bottom {
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 20px;
}
